@page "/newquote"
@attribute [Authorize(Roles = "Sales Admin,Sales User,IT Admin,Admin")]

@inject MasterDataServices MDS
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject GenerateQuoteServices GenerateQuoteService
@inject QuoteDataServices QuoteDataService
@inject NavigationManager NavigationManager
@inject UserPreferenceSettings UserPreferenceSetting
@inject CurrencyExchange CurrencyExchangeService

<PageTitle>New Quote</PageTitle>
<RadzenCard class="p-4">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3 gap-2">
        <RadzenText Text="New Quotation" TextStyle="TextStyle.DisplayH5" class="mb-0"></RadzenText>
        <RadzenButton Text="Generate" Click="@GenerateQuote" ButtonStyle="ButtonStyle.Primary" class="px-4  flex-grow-0"></RadzenButton>
    </div>

    <hr class="my-4" />

    <div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mb-3 p-2 border rounded bg-light">
        <div class="d-flex align-items-center gap-2">
            <RadzenText TextStyle="TextStyle.Subtitle2">Self Collect</RadzenText>
            <RadzenSwitch @bind-Value="isSelfCollect"/>
        </div>
        <RadzenText class="text-muted" Style="font-size: 0.9rem;">Enable if the customer will pick up the goods.</RadzenText>
    </div>

    @if (isSelfCollect)
    {
        <RadzenAlert Severity="AlertSeverity.Info" Style="margin-bottom: 1rem;">
            Delivery address and cost are hidden for self-collection. No delivery fee will be applied.
        </RadzenAlert>
    }

    <div class="row mb-4">
        <div class="col-12 col-lg-4 mb-3">
            <RadzenText TextStyle="TextStyle.Subtitle2" class="mb-2">Customer</RadzenText>
            <RadzenDropDown TValue="int"
            @bind-Value="selectedCustomer"
            Data="@customers"
            TextProperty="CustName"
            ValueProperty="CustNo"
            Placeholder="Select Customer"
            Change="OnCustomerChanged"
            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
            FilterOperator="StringFilterOperator.StartsWith" 
            AllowFiltering="true"
            Style="width: 100%" />
        </div>
        
       
        @if (!isSelfCollect)
        {
            <div class="col-12 col-lg-4 mb-3">
                <RadzenText TextStyle="TextStyle.Subtitle2" class="mb-2">Delivery Address</RadzenText>
                <RadzenDropDownDataGrid
                @bind-Value="selectedDelivery"
                Data="@deliveryAddresses"
                Change="@( async ()=> await OnDeliveryChanged(selectedDelivery))"
                TextProperty="DeliveryName"
                Placeholder="Select Delivery Address"
                Style="width: 100%">
                    <Columns>
                        <RadzenDropDownDataGridColumn Property="DeliveryName" Title="Delivery Name" Width="120px" />
                        <RadzenDropDownDataGridColumn Property="Address1" Title="Address 1" Width="120px" />
                        <RadzenDropDownDataGridColumn Property="Address2" Title="Address 2" Width="120px" />
                        <RadzenDropDownDataGridColumn Property="City" Title="City" Width="80px" />
                        <RadzenDropDownDataGridColumn Property="Postcode" Title="Post Code" Width="80px" />
                    </Columns>
                </RadzenDropDownDataGrid>
            </div>

            <div class="col-12 col-lg-4 mb-3">
                <RadzenText TextStyle="TextStyle.Subtitle2" class="mb-2">Delivery Cost</RadzenText>
                <RadzenDropDownDataGrid 
                @bind-Value="selectedDeliveryCost"
                Data="@deliveryCost"
                TextProperty="PostCode"
                Placeholder="Select Delivery Cost"
                AllowVirtualization = "true">
                    <Columns>
                        <RadzenDropDownDataGridColumn Property="PostCode" Title="Post Code" Width="100px" />
                        <RadzenDropDownDataGridColumn Property="Cost" Title="Cost" Width="80px" FormatString="{0:C2}" />
                        <RadzenDropDownDataGridColumn Property="Weight" Title="Weight" Width="80px" />
                        <RadzenDropDownDataGridColumn Property="Pallet" Title="Pallet" Width="100px" />
                        <RadzenDropDownDataGridColumn Property="Zone" Title="Zone" Width="60px" />
                        <RadzenDropDownDataGridColumn Property="ServiceHours" Title="Service Hours" Width="90px" />
                    </Columns>
                </RadzenDropDownDataGrid>
            </div>
        }
        <div class="col-12 col-lg-4 mb-3">
            <RadzenText TextStyle="TextStyle.Subtitle2" class="mb-2">Currency</RadzenText>
            <RadzenDropDown @bind-Value="selectedCurrency"
                            Data="@currencies"
                            TextProperty="CurrencyCode"
                            Placeholder="Select Currency"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.StartsWith"
                            AllowFiltering="true"
                            Style="width: 100%" />
        </div>

    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3 gap-2">
        <RadzenText TextStyle="TextStyle.H6" class="mb-0">Recipe Periods</RadzenText>
        <RadzenButton Text="Copy First Date to All" Click="@CopyFirstDateToAll" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Small" />
    </div>

    <div class="table-responsive">
        <RadzenDataGrid @ref="grid"
        Data="@RecipePeriods" 
        TItem="RecipePeriod"
        GridLines="DataGridGridLines.Horizontal"
        AllowFiltering="false"
        AllowColumnResize="true"
        AllowAlternatingRows="true"
        Style="min-width: 100%; overflow-x: auto;">
        <Columns>
            <RadzenDataGridColumn TItem="RecipePeriod" Title="Recipe" MinWidth="220px" >
                <Template Context="data">
                    <div class="d-flex align-items-center gap-2" style="width:100%">
                        <RadzenDropDown @bind-Value="data.SelectedRecipe"
                        Data="@recipes"
                        TextProperty="RecipeCode"
                        Style="width:100%;"
                        Change="@(() => OnRecipeSelected(data))"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        FilterOperator="StringFilterOperator.StartsWith"
                                        AllowFiltering="true"
                                         />

                        <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small"
                                      Click="@(() => RemoveRecipePeriod(data))"
                                      class="flex-shrink-0" />
                    </div>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RecipePeriod" Title="Period From" MinWidth="120px" MaxWidth="150px">
                <Template Context="data">
                    <RadzenDatePicker @bind-Value="data.PeriodFrom"
                    DateFormat="MM/yyyy"
                    ShowDays=false
                    CurrentDateChanged="@(date => OnFromDateChanged(date, data))"
                    Style="width:100%;" />
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RecipePeriod" Title="Period To" MinWidth="120px" MaxWidth="150px">
                <Template Context="data">
                    <RadzenDatePicker @bind-Value="data.PeriodTo"
                    DateFormat="MM/yyyy"
                    ShowDays=false
                    CurrentDateChanged="@(date => OnToDateChanged(date, data))"
                    Style="width:100%; " />
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RecipePeriod" Title="Packaging Material" MinWidth="180px" MaxWidth="220px" >
                <Template Context="data">
                    <RadzenDropDownDataGrid @bind-Value="data.SelectedPackagingMaterial"
                    Data="@packagingMaterials"
                    TextProperty="Packaging"
                    Style="width:100%;"
                    AllowFiltering="true"
                    AllowVirtualization = "true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                   >
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="Type" Title="Type" Width="80px" />
                            <RadzenDropDownDataGridColumn Property="Packaging" Title="Packaging" Width="120px" />
                        </Columns>
                    </RadzenDropDownDataGrid>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RecipePeriod" Title="Production Cost" MinWidth="180px" MaxWidth="220px">
                <Template Context="data">
                    <RadzenDropDownDataGrid @bind-Value="data.SelectedProductionCost"
                    Data="@productionCosts"
                    TextProperty="ProductType"
                    Style="width:100%;"
                    AllowFiltering="true"
                                            AllowVirtualization="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    >
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="ProductType" Title="Product Type" Width="120px" />
                            <RadzenDropDownDataGridColumn Property="ProductTypeCost" Title="Cost" Width="80px" />
                        </Columns>
                    </RadzenDropDownDataGrid>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="RecipePeriod" Title="Premium" MinWidth="200px" MaxWidth="280px">
                <Template Context="data">
                    <RadzenDropDown @bind-Value="data.SelectedPremiumList"
                    Data="@GetFilteredPremiums(data)"
                    TextProperty="PremiumName"
                    Multiple="true"
                    Style="width:100%; " />
                </Template>
            </RadzenDataGridColumn>


        </Columns>
        </RadzenDataGrid>
    </div>
</RadzenCard>


@code {







    // Add this property
    bool isSelfCollect = false;

    // Add this method
    void OnSelfCollectChanged(bool value)
    {
        isSelfCollect = value;
        if (!isSelfCollect)
        {
            selectedDelivery = new CustomerDeliveryDetail();
        }

        StateHasChanged();
    }

    // Lists to hold the data
    List<Customer> customers = new();
    List<CustomerDeliveryDetail> deliveryAddresses = new();
    DeliveryCost selectedDeliveryCost = new();
    List<ProductionCost> productionCosts = new();
    List<Currency> currencies = new();

    public class RecipePeriod
    {
        public Recipe SelectedRecipe { get; set; }
        public DateTime? PeriodFrom { get; set; } = DateTime.Now;
        public DateTime? PeriodTo { get; set; }
        public List<Premium> SelectedPremiumList { get; set; } = new();
        public Decimal SelectedQuantity { get; set; } = 1000;
        public PackagingMaterial SelectedPackagingMaterial { get; set; }
        public ProductionCost SelectedProductionCost { get; set; }
    }

    private List<RecipePeriod> RecipePeriods = new();

    RadzenDataGrid<RecipePeriod>? grid;

    private void OnRecipeSelected(RecipePeriod selectedRow)
    {
        if (selectedRow == RecipePeriods.Last() && selectedRow.SelectedRecipe != null)
        {
            RecipePeriods.Add(new RecipePeriod());
            // Don't remove the recipe from the list - allow it to be selected multiple times
            grid.Reload();
            StateHasChanged();
        }
        
        // Clear selected premiums when recipe changes to avoid invalid selections
        selectedRow.SelectedPremiumList.Clear();
    }

    private List<Premium> GetFilteredPremiums(RecipePeriod recipePeriod)
    {
        if (recipePeriod.SelectedRecipe == null)
        {
            return premiums.Where(p => p.Active).ToList();
        }

        var recipeIngredients = recipePeriod.SelectedRecipe.RecipeIngredients;
        
        // Check if recipe contains cocoa mass (MaterialId 13 or 18), cocoa butter (MaterialId 14), or cocoa powder (MaterialId 9)
        bool hasCocoaMass = recipeIngredients.Any(ri => ri.MaterialId == 13 || ri.MaterialId == 18);
        bool hasCocoaButter = recipeIngredients.Any(ri => ri.MaterialId == 14);
        bool hasCocoaPowder = recipeIngredients.Any(ri => ri.MaterialId == 9);

        // Filter premiums based on recipe ingredients and active status
        var filteredPremiums = premiums.Where(p => 
        {
            // Only show active premiums
            if (!p.Active)
            {
                return false;
            }
            
            // If premium type is "Butter", only show if recipe has cocoa butter
            if (p.PremiumType == "Butter")
            {
                return hasCocoaButter;
            }
            
            // If premium type is "Liquor", only show if recipe has cocoa mass
            if (p.PremiumType == "Liquor")
            {
                return hasCocoaMass;
            }
            
            // If premium type is "Powder", only show if recipe has cocoa powder
            if (p.PremiumType == "Powder")
            {
                return hasCocoaPowder;
            }
            
            // For other premium types or null, show all active premiums
            return true;
        }).ToList();

        return filteredPremiums;
    }

    private async Task RemoveRecipePeriod(RecipePeriod period)
    {
        if (RecipePeriods.Contains(period))
        {
            RecipePeriods.Remove(period);
        }

        if (RecipePeriods.Count == 0)
        {
            RecipePeriods.Add(new RecipePeriod());
        }

        await grid.Reload();
        await InvokeAsync(StateHasChanged);
    }

    private void CopyFirstDateToAll()
    {
        if (RecipePeriods.Count > 0 && RecipePeriods[0].PeriodFrom.HasValue)
        {
            var firstFromDate = RecipePeriods[0].PeriodFrom.Value;
            var firstToDate = RecipePeriods[0].PeriodTo;

            // Copy both dates to all other recipe periods
            for (int i = 1; i < RecipePeriods.Count; i++)
            {
                RecipePeriods[i].PeriodFrom = firstFromDate;
                RecipePeriods[i].PeriodTo = firstToDate;
            }

            // Refresh the grid to show the updated dates
            grid?.Reload();
            StateHasChanged();

            string message = firstToDate.HasValue 
                ? $"First dates ({firstFromDate:MM/yyyy} to {firstToDate.Value:MM/yyyy}) have been copied to all recipe periods."
                : $"First date ({firstFromDate:MM/yyyy}) has been copied to all recipe periods.";

            NotificationService.Notify(NotificationSeverity.Info, "Dates Copied", message);
        }
        else
        {
            NotificationService.Notify(NotificationSeverity.Warning, "No Date to Copy", 
                "Please ensure the first recipe period has a valid date.");
        }
    }

    // Selected values
    int selectedCustomer;
    Currency selectedCurrency = new Currency();
    CustomerDeliveryDetail selectedDelivery = new();

    List<Recipe> recipes = new();
    List<Premium> premiums = new();
    List<RecipeTotalCost> recipeTotalCostList = new List<RecipeTotalCost>();
    List<PackagingMaterial> packagingMaterials = new();
    List<DeliveryCost> deliveryCost = new();

    protected override async Task OnInitializedAsync()
    {
        // Load all customers
        customers = await MDS.GetAllCustomersAsync();
        currencies = await MDS.GetAllCurrenciesAsync();

        selectedCurrency = currencies.FirstOrDefault();
        recipes = await MDS.GetRecipesAsync();
        var recipeGroupBy = recipes.GroupBy(r => r.ProductType.TypeName).ToList();
        premiums = await MDS.GetAllPremiumsAsync();
        productionCosts = await MDS.GetProductionCostsAsync();

        packagingMaterials = await MDS.GetAllPackagingMaterialsAsync();
        deliveryCost = await MDS.GetDeliveryCostAsync();

        RecipePeriods.Add(new RecipePeriod(){
            PeriodFrom = DateTime.Now,
        });
        await grid.Reload();
        await InvokeAsync(StateHasChanged);
    }

    async Task OnCustomerChanged(object value)
    {
        if (selectedCustomer > 0)
        {
            // Load delivery addresses for the selected customer
            deliveryAddresses = await MDS.GetDeliveryDetailsForCustomerAsync(selectedCustomer);

            if(deliveryAddresses.Count() == 1){
                selectedDelivery = deliveryAddresses.First();
                Console.WriteLine("in the OnCustomerCHanged");
                await OnDeliveryChanged(selectedDelivery);
            }
            else{
                selectedDelivery = new();
            }
        }
        else
        {
            deliveryAddresses.Clear();
        }
    }

    private async Task GenerateQuote()
    {
        // Validation checks
        if (selectedCustomer <= 0)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Validation Error", "Please select a customer.");
            return;
        }

        if (selectedCurrency.CurrencyId <= 0)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Validation Error", "Please select a currency.");
            return;
        }

        if (!isSelfCollect && (selectedDelivery == null || selectedDelivery.DeliveryId <= 0))
        {
            NotificationService.Notify(NotificationSeverity.Error, "Validation Error", "Please select a delivery address.");
            return;
        }

        // Validate recipe periods
        if (!RecipePeriods.Any(rp => rp.SelectedRecipe != null))
        {
            NotificationService.Notify(NotificationSeverity.Error, "Validation Error", "Please select at least one recipe.");
            return;
        }



        // Check each recipe period for required fields
        foreach (var period in RecipePeriods.Where(rp => rp.SelectedRecipe != null))
        {
            if (period.PeriodFrom == null)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Validation Error", "Please select a start period for all recipes.");
                return;
            }

            if (period.SelectedProductionCost == null)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Validation Error", 
                    $"Please select a production cost for recipe {period.SelectedRecipe.RecipeCode}.");
                return;
            }

            // if (period.SelectedPackagingMaterial == null)
            // {
            //     NotificationService.Notify(NotificationSeverity.Error, "Validation Error", 
            //         $"Please select packaging material for recipe {period.SelectedRecipe.RecipeCode}.");
            //     return;
            // }
        }

        var WeightRatio = UserPreferenceSetting.WeightRatio;

        // Get currency codes for conversion
        string gbpCurrencyCode = "GBP"; // Default to GBP
        decimal exchangeRate = 1.0m; // Default exchange rate for GBP
        
        if (selectedCurrency.CurrencyId != 1) // If not GBP
        {
       
            // Get exchange rate from GBP to selected currency
            try
            {
                exchangeRate = await CurrencyExchangeService.getChangedCurrency(gbpCurrencyCode, selectedCurrency.CurrencyCode);
            }
            catch (Exception ex)
            {
                NotificationService.Notify(NotificationSeverity.Warning, "Currency Conversion", 
                    $"Failed to get exchange rate. Using 1.0 as default. Error: {ex.Message}");
                exchangeRate = 1.0m;
            }
        }

        QuoteDataService.newQuotation = new Quote
            {
                CustomerId = selectedCustomer,
                DeliveryDetailId = isSelfCollect ? 530 : selectedDelivery.DeliveryId,
                CurrencyId = selectedCurrency.CurrencyId,
			CurrencyRates = exchangeRate,
                CreatedAt = DateTime.Now
            };

        // Create a list to store the QuotationRecipe objects in memory
        var quotationRecipes = new List<QuotationRecipe>();


        List<AdditionalCost> additionalCostsList = await GenerateQuoteService.GetAdditionalCosts();

        // Generate the QuotationRecipe records for each RecipePeriod
        foreach (var recipePeriod in RecipePeriods)
        {
            decimal localTotalCost = 0;

            decimal yieldCost, totalRawMaterialCost = 0;
            decimal yieldPercentage = 1.0m; // Default yield percentage
            
            if (recipePeriod.SelectedRecipe != null)
            {
                // Calculate yield percentage: 1.5% for recipes containing 'LQ', 1% for others
                yieldPercentage = recipePeriod.SelectedRecipe.RecipeCode?.Contains("LQ", StringComparison.OrdinalIgnoreCase) == true ? 1.5m : 1.0m;
                
                // Debug: Log the recipe code and yield percentage
                Console.WriteLine($"Recipe Code: {recipePeriod.SelectedRecipe.RecipeCode}, Yield Percentage: {yieldPercentage}%");
            }
            
            if (recipePeriod.SelectedRecipe != null)
            {
                DateTime startDate = recipePeriod.PeriodFrom ?? DateTime.MinValue;
                DateTime endDate = recipePeriod.PeriodTo ?? startDate;

                // If PeriodTo is null, treat the period as a single month
                if (recipePeriod.PeriodTo == null)
                {
                    endDate = startDate;
                }

                // Generate the list of months between startDate and endDate
                var periodMonths = GetMonthsBetweenDates(startDate, endDate);

                foreach (var month in periodMonths)
                {
                    var dateOnlyMonth = DateOnly.FromDateTime(month);
                    string quarter = GenerateQuoteService.GetQuarter(dateOnlyMonth);
                    decimal selectedQuantity = recipePeriod.SelectedQuantity;

                    //Create New QuotationRecipe
                    var quotationRecipe = new QuotationRecipe
                        {
                            Recipe = recipePeriod.SelectedRecipe,
                            RecipeId = recipePeriod.SelectedRecipe.RecipeId,
                            PeriodMonth = dateOnlyMonth,
                            Quantity = recipePeriod.SelectedQuantity
                        };



                    //Calculate Terminal Cost
                    var terminalCost = await GenerateQuoteService.GetTerminalCostByDate(dateOnlyMonth);

                    var quotationTerminalCost = new QuotationTerminalCost
						{
							TerminalName = terminalCost.PeriodName,
                            TerminalPeriod = terminalCost.TerminalPeriod,
							LifeGbp = terminalCost.LifeGbp,
                            Liquor = terminalCost.Liquor,
                            Butter = terminalCost.Butter,
							Powder = terminalCost.Powder,
                            GhanaLiquor = terminalCost.GhanaLiquor,
                            Cifbutter = terminalCost.Cifbutter,
                            Cifliquor = terminalCost.Cifliquor
						};

                    quotationRecipe.QuotationTerminalCost = quotationTerminalCost;

                    //Calculate Raw Material Cost
                    var rawMaterialPrice = await GenerateQuoteService.GetRawMaterialCostByRecipeID(dateOnlyMonth);

                    foreach(var rmp in rawMaterialPrice){
                        if(rmp.Material.MaterialName == "Cocoa Mass"){
                            rmp.Price = QuoteDataService.CalculateMassTotalWithPercentage(quotationTerminalCost.Liquor, quotationTerminalCost.LifeGbp, quotationTerminalCost.Cifliquor, recipePeriod.SelectedRecipe.RecipeIngredients.ToList());

                        }
                        else if(rmp.Material.MaterialName == "Cocoa Butter"){
                            rmp.Price = QuoteDataService.CalculateButterTotalWithPercentage(quotationTerminalCost.Butter, quotationTerminalCost.LifeGbp, quotationTerminalCost.Cifbutter, recipePeriod.SelectedRecipe.RecipeIngredients.ToList());

                        }
                        else if(rmp.Material.MaterialName == "Cocoa Powder"){
                            rmp.Price = QuoteDataService.CalculatePowderTotal(quotationTerminalCost.Powder, quotationTerminalCost.LifeGbp);

                        }
                        else if (rmp.Material.MaterialName == "Ghana Cocoa Mass")
                        {
                            rmp.Price = QuoteDataService.CalculateGhanaLiquorTotal(quotationTerminalCost.GhanaLiquor, quotationTerminalCost.LifeGbp);
                        }
                    }

                    var rawPriceDict = rawMaterialPrice.ToDictionary(p => p.MaterialId, p => p.Price);

                    var quotationRawMaterialCostsList = recipePeriod.SelectedRecipe.RecipeIngredients
                                .Where(i => rawPriceDict.ContainsKey(i.MaterialId))
                                .Select(i => new QuotationRawMaterialCost
                                    {
                                        MaterialName = i.Material.MaterialName.ToString(),
                                        Cost = rawPriceDict[i.MaterialId] * exchangeRate,
                                        CostAmount = (rawPriceDict[i.MaterialId] * (i.Amount / 100)) * exchangeRate,

                                    }).ToList();

                    //Add Premium into QuotationRecipe
                    if (recipePeriod.SelectedPremiumList != null || recipePeriod.SelectedPremiumList.Count() > 0)
                    {
                        List<QuotationPremiumCost> quotationPremiumList = new List<QuotationPremiumCost>();

                        foreach (var selectedPremium in recipePeriod.SelectedPremiumList)
                        {
                            decimal PremiumCost = 0;

                            if (selectedPremium.PremiumType == "Butter") {
                                PremiumCost = recipePeriod.SelectedRecipe.RecipeIngredients.First(r => r.MaterialId == 14).Amount / 100 * selectedPremium.PremiumCost;
                            }
                            else if (selectedPremium.PremiumType == "Liquor"){
                                PremiumCost = recipePeriod.SelectedRecipe.RecipeIngredients.First(r => r.MaterialId == 13).Amount / 100 * selectedPremium.PremiumCost;

                            }


                            QuotationPremiumCost qpc = new QuotationPremiumCost()
                                {
                                    PremiumName = selectedPremium.PremiumName,
                                    Cost = selectedPremium.PremiumCost * exchangeRate,
                                    CostAmount = PremiumCost * exchangeRate
                                };

                            quotationPremiumList.Add(qpc);
                        }

                        quotationRecipe.QuotationPremiumCosts = quotationPremiumList;
                    }

                    //Add Production Cost into QuotationRecipe
                    if (recipePeriod.SelectedProductionCost != null )
                    {
                        quotationRecipe.QuotationProductionCost = new QuotationProductionCost
                        {
                            ProductType = recipePeriod.SelectedProductionCost.ProductType,
                            ProductTypeCost = recipePeriod.SelectedProductionCost.ProductTypeCost * exchangeRate,
                        };
                    }

                    totalRawMaterialCost = quotationRawMaterialCostsList.Sum(s => s.CostAmount);
                    yieldCost = totalRawMaterialCost * yieldPercentage / 100;

                    quotationRecipe.QuotationRawMaterialCosts = quotationRawMaterialCostsList;
                    quotationRecipe.Recipe.RecipeIngredients = recipePeriod.SelectedRecipe.RecipeIngredients;


                    //Calculate Packaging Cost
                    if(recipePeriod.SelectedRecipe.PackagingMaterial != null && recipePeriod.SelectedPackagingMaterial != null && recipePeriod.SelectedPackagingMaterial.CostGbpton.HasValue)
                    {
                        quotationRecipe.QuotationPackagingCost = new QuotationPackagingCost
                        {
                            PackagingName = recipePeriod.SelectedPackagingMaterial.Packaging,
                            Cost = recipePeriod.SelectedPackagingMaterial.CostGbpton.Value * exchangeRate,
                            CostAmount = recipePeriod.SelectedPackagingMaterial.CostGbpton.Value * exchangeRate
                        };
                    }
                    else
                    {
                        quotationRecipe.QuotationPackagingCost = new QuotationPackagingCost
                        {
                            PackagingName = "-",
                            Cost = 0,
                            CostAmount = 0,
                        };
                    }

                    if(selectedDeliveryCost != null && !string.IsNullOrEmpty(selectedDeliveryCost.PostCode) && selectedDeliveryCost.Cost > 0)
                    {
                         quotationRecipe.QuotationDeliveryCost = new QuotationDeliveryCost
                        {
                           DeliveryName = selectedDelivery.DeliveryName,
                           CostAmount = selectedDeliveryCost.Cost * exchangeRate,
                        };
                    }
                    else
                    {
                        quotationRecipe.QuotationDeliveryCost = new QuotationDeliveryCost
                        {
                            DeliveryName = "-",
                            CostAmount = 0,
                        };
                    }

                   

                    // Set default financial cost
                    quotationRecipe.QuotationFinancialCost = new QuotationFinancialCost
                    {
                        InterestRate = 8.5m,
                        FinanceDays = 30
                    };


                    foreach(var ac in additionalCostsList)
                    {
                        decimal costAmount = ac.CostName == "Yield" 
                            ? totalRawMaterialCost * yieldPercentage / 100 
                            : ac.DefaultAmount;

                        var additionalCost = new QuotationAdditionalCost
                        {
                            CostName = ac.CostName,
                            Cost = ac.CostName == "Yield" 
                                ? yieldPercentage  
                                : ac.DefaultAmount ,
                            CostAmount = costAmount * exchangeRate,
                        };

                        quotationRecipe.QuotationAdditionalCosts.Add(additionalCost);
                    }

                    // Add each QuotationRecipe to the list in memory
                    quotationRecipes.Add(quotationRecipe);


                    localTotalCost = (quotationRecipe.QuotationPremiumCosts?.Sum(x => x.CostAmount) ?? 0) +
                    (quotationRecipe.QuotationRawMaterialCosts?.Sum(x => x.CostAmount) ?? 0) +
                    (quotationRecipe.QuotationPackagingCost?.CostAmount ?? 0) +
                    (quotationRecipe.QuotationDeliveryCost?.CostAmount ?? 0) +
                    (quotationRecipe.QuotationAdditionalCosts?.Sum(x => x.CostAmount) ?? 0) + 
                    (quotationRecipe.QuotationProductionCost?.ProductTypeCost ?? 0);

                    var recipeTotalCost = new RecipeTotalCost
                        {
                            QuotationRecipe1 = quotationRecipe,
                            TotalCost = localTotalCost,
                            Quarter = quarter,
                            RawMaterialPriceDetailList = rawMaterialPrice,
                            CustomerDeliveryDetail = selectedDelivery,
                            
                        };

                    recipeTotalCostList.Add(recipeTotalCost);
                }
            }
            else;
        }

        QuoteDataService.OriginalRecipeTotalList = recipeTotalCostList;

        QuoteDataService.RecipeTotalCostList = QuoteDataService.ConvertRecipeCostListToPreferredUnit(recipeTotalCostList, UserPreferenceSetting.WeightRatio);

        QuoteDataService.RecipeCostMatrix = await QuoteDataService.PrepareCostMatrix(QuoteDataService.RecipeTotalCostList);

        // Optionally show a notification or close the dialog
        NotificationService.Notify(NotificationSeverity.Success, "Quotation generated successfully.");
        // }

        // Navigate to the next page (QuoteDetailPage)
        NavigationManager.NavigateTo("/SaveNewQuote");
    }

    private List<DateTime> GetMonthsBetweenDates(DateTime startDate, DateTime endDate)
    {
        var months = new List<DateTime>();

        for (var dt = startDate; dt <= endDate; dt = dt.AddMonths(1))
        {
            months.Add(new DateTime(dt.Year, dt.Month, 1));  // Start of each month
        }

        Console.WriteLine(string.Join(", ", months));
        return months;


    }

    private List<RecipeCostMatrix> recipeCostMatrix = new();




    void OnFromDateChanged(DateTime args, RecipePeriod data)
    {
        data.PeriodFrom = new DateTime(args.Year, args.Month, 1);
    }

    void OnToDateChanged(DateTime args, RecipePeriod data)
    {
        data.PeriodTo = new DateTime(args.Year, args.Month, DateTime.DaysInMonth(args.Year, args.Month));
    }

    async Task OnDeliveryChanged(object value)
    {
        var localDeliveryCost = await MDS.GetDeliveryCostAsync();

        // If a specific delivery address is selected, filter by DeliveryAddressId
        if (selectedDelivery != null && selectedDelivery.DeliveryId > 0)
        {
            // Filter delivery costs that match the selected delivery address
            deliveryCost = localDeliveryCost.Where(dc => 
                dc.DeliveryAddressId.HasValue && 
                dc.DeliveryAddressId.Value == selectedDelivery.DeliveryId
            ).ToList();
            
            // If no specific delivery costs found for this address, show all
            if (deliveryCost.Count == 0)
            {
                deliveryCost = localDeliveryCost.ToList();
            }
        }
        else
        {
            // If no delivery address is selected, show all delivery costs
            deliveryCost = localDeliveryCost.ToList();
        }

        await InvokeAsync(StateHasChanged);
    }

}